@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: bottom;
}

table {
    border-collapse: collapse;
}

html,
body {
    color: #454545;
    height: 100%;
}

body{
    font-family: 'Pretendard-Regular';
}

.clear_fix::before,
.clear_fix::after {
    content: "";
    display: block;
    clear: both;
}